<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <TargetFramework>net9.0-windows10.0.26100.0</TargetFramework>
    <PublishDir>bin\publish\win-arm64\</PublishDir>
    <PublishReadyToRun>false</PublishReadyToRun>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>
